html, body, #__next { height: 100%; }
body { margin: 0; font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
button { padding: 6px 10px; }
input { padding: 6px; }
